@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.homepage{
    height: 90vh;
    background-image: radial-gradient(ellipse,transparent -90%, rgba(0, 0, 0, 1)),url(../images/KE-en-20220411-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .logo img{
    width: 15rem;
    height: 5rem;
}
header .btn1{
    margin-right: 2rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #e50914;
    padding: .2rem 1rem;
    border-radius: .5rem;
}
.homepage .text{
   position:absolute;
   top: 50%;
   left: 50%;
   color: #fff;
   transform: translate(-50%, -50%);
  
}
.homepage .text h1{
    font-size: 3.8rem;
    font-weight:450;
    line-height:5rem;
}
.homepage .text .shows{
    text-align: center;
}
.homepage .text h2{
   text-align: center;
   margin: 1.5rem 0;
}
.homepage .text form h3{
    margin-bottom: 1.3rem;
}
input[type=email]{
    padding: 1.5rem .3rem;
    width:30rem;
}
input::placeholder{
    font-size:1.7rem ;
}
#btn{
     padding: 1.2rem;
     border:none;
     background-color: #e50914;
     color: #fff;
     font-size: 1.5rem;
     width: 14rem;
}

#form-field{
    display: flex;
}

.android{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding:3rem 0;
    border-top: .7rem solid #333;
    border-bottom: .7rem solid #333;
}
.android .image img{
    object-fit: cover;
    height: 25rem;
    width: 100%;
}
.android .text{
    margin:auto 0;
    margin-right: 4rem;
}
.android .text h1{
    font-size: 3rem;
}
.android .text p{
    margin: 1rem 0;
    font-size: 1.4rem;
}
.wrapper{
    background-color: rgb(0, 0, 0);
}
.frequentQuestions{
    padding: 4rem 0;
    position: relative;
    min-height: 90vh;
    background-color: rgb(0, 0, 0);
}
.frequentQuestions h1{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.9rem;
}
.frequentQuestions .container{
    position:absolute;
    left: 50%;
    transform: translate(-50%);
}
.frequentQuestions .container #boxi{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2rem;
    padding: .7rem 1rem ;
    background-color: #333;
    margin-bottom: 1rem;
    color: #fff;
    
}

.footer{
    margin-top: 5rem;
    padding-bottom: 2rem;
    border-top: .7rem solid #333;
    background-color: rgb(0, 0, 0);
}
.footer h3{
    text-align: center;
    margin-bottom: 1.7rem;
    font-size: 1.6rem;
    padding-top: 1rem;
}
.footer footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer footer div{
    margin-left: 4rem;
    flex: 1 1 10rem;
    align-content: center;
}
.footer footer div p{
    margin-bottom: .3rem;
}
.footer footer div p:hover{
    text-decoration: underline;
}
@media screen and (max-width:1347px){
    .frequentQuestions{
        min-height: 90vh;
    }
    
}
@media screen and (max-width:950px) {
    .homepage .text h1{
        font-size: 3.4rem;
        text-align: center;
    }
    input[type=email]{
    padding: 1.2rem .3rem;
    width:30rem;
}
.frequentQuestions{
        min-height: 100vh;
    }
#btn{
     padding: .9rem;
     border:none;
     background-color: #e50914;
     color: #fff;
     font-size: 1.5rem;
     width: 14rem;
}
.homepage .text h2{
    margin-bottom: 3rem;
}
    
}
@media screen and (max-width:745px) {
   input[type=email]{
    padding: 1rem .3rem;
    width:20rem;
} 
#btn{
     padding: .9rem;
     border:none;
     background-color: #e50914;
     color: #fff;
     font-size: 1.2rem;
     width: 10rem;
}
.homepage .text h1{
        font-size: 3rem;
        text-align: center;
    }
}
@media screen and (max-width:673px) {
    .frequentQuestions .container #boxi{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
    padding: .7rem 1rem ;
    background-color: #333;
    margin-bottom: 1rem;
    color: #fff;
    
}
input[type=email]{
    padding: 1rem .3rem;
    width:10rem;
}
.android .text{
    margin:auto 0;
    margin-right: 0;
}
.android .text h1{
    font-size: 2.3rem;
}
.android .text p{
    margin: 1rem 0;
    font-size: 1rem;
}
.footer footer div{
    margin-left: 2rem;
}
.footer h3{
    text-align: center;
    margin-bottom: 1.7rem;
    font-size: 1rem;
    padding-top: 1rem;
}
.frequentQuestions h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.9rem;
}
header .logo img{
    width: 10rem;
    height: 5rem;
}
.homepage .text form h3{
    font-size: .9rem;
}
header .btn1{
    margin-right: 2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #e50914;
    padding: .2rem 1rem;
    border-radius: .5rem;
}
input::placeholder{
    font-size:1.2rem ;
}


    
}
@media screen and (max-width:400px) {
    .homepage .text h1{
        font-size: 2.2rem;
        text-align: center;
        font-weight: bold;
    }
    .android .text{
    margin:.5rem .5rem;
    margin-right: 0;
}
.android .text h1{
    font-size: 2rem;
}
    
}





